.place__pharagraph {
    margin: 0;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 767px) {
    .place__pharagraph {
        width: calc(100% - 16px * 2);
        margin: 0 auto;
    }
}