.place__link {
    color: #ffffff;
    margin-top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.place__link:hover {
    opacity: 0.8;
}