.footer {
    margin: 0 auto;
    margin-top: 79px;
    margin-bottom: 24px;
    max-width: calc(100% - (48px * 2));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__mobile {
    display: none;
    color: white;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(100vw - (24px * 2));
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 0;
        margin-left: 16px;
        margin-top: 64px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    
    .nav__haiden {
        display: none;
    }

    .nav__mobile {
        display: block;
    }
}

.nav__show {
    display: block;
}